.popupContentainer {
  width: 633px !important;
}

.popupContent {
  width: unset;
}

.popupFooter {
  justify-content: flex-end;
}

.scrollWrapper {
  padding: 0 10px;
}

.input {
  flex-grow: 1;
  padding: 10px 15px;
  margin-left: 10px;
}

// .inputWrapper {
//   margin-bottom: 15px;
//   svg {
//     margin: 1px 10px 0;
//     cursor: pointer;
//     path {
//       fill: var(--error_2);
//       pointer-events: none;
//       transition: 0.2s;
//     }

//     &:hover {
//       path {
//         fill: var(--error_3);
//       }
//     }
//   }
// }

.logoutBtn {
  color: var(--error_2);

  svg {
    margin-right: 10px;
  }
}

.header {
  border-bottom: 1px solid var(--blue_3);
}

.oneBlockWrapper {
  --gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: var(--gap) 0;

  &:not(:last-child) {
    padding-bottom: var(--gap);
    border-bottom: 1px solid var(--blue_3);
  }
}

.oneInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom:10px;

  }
}

.label {
  color: var(--gray_4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  width: 175px;
}
