.task {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  width: 80px;
  height: 88px;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: grab;
    .hoverBlock {
      display: block;
    }
  }
}
.taskIconContainer {
  width: 50px;
  height: 50px;
}
.name {
  position: absolute;
  top: 80px;
  display: -webkit-box;
  overflow: hidden;
  max-width: 100px;
  -webkit-box-orient: vertical;
  color: var(--blue_8);
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  &:hover {
    .hoverBlock {
      display: block;
    }
  }
}
.hoverBlock {
  position: absolute;
  display: none;
  width: 80px;
  height: 88px;
}
.iconClose {
  float: right;
  & > svg {
    transform: rotate(45deg) scale(1.5);
  }
}
.inStorage {
  right: initial;
}
