.checkMenu {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: var(--white);
  box-shadow: 0px -6px 6px var(--shadow_2);
}
.buttonConianter {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  & > *:not(:last-child) {
    margin-right: 100px;
  }
}

.button {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  color: var(--blue_5);
  path {
    fill: var(--blue_5);
  }

  &:hover {
    color: var(--blue_10);
    path {
      fill: var(--blue_10);
    }
  }
}
.alarm {
  color: var(--error_2);
  path {
    fill: var(--error_2);
  }

  &:hover {
    color: var(--error_3);
    path {
      fill: var(--error_3);
    }
  }
}
.buttonIcon {
  margin-right: 14px;
}

.amount {
  color: var(--blue_8);
  user-select: none;
}
.amountNumber {
  margin-left: 10px;
  color: var(--blue_8);
}
