.login {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroud);
}
.logo {
  width: 308px;
}
.loginForm {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.input_1 {
  margin-top: 70px;
}
.input_2 {
  margin-top: 20px;
}
.btn_1 {
  margin-top: 40px;
}
.btn_2 {
  margin-top: 60px;
}
.btnForget {
  color: var(--primary_blue);
  text-decoration: underline;
}
