.wrapper {
  width: 410px;
  box-sizing: border-box;
  padding: 30px;
  color: var(--blue_8);
}

.title {
  margin-bottom: 27px;
}

.btnsWrap {
  display: flex;

  :first-child {
    margin-right: 20px;
  }
}
.input {
  padding: 10px 15px;
  margin-bottom: 20px;
}
