input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 36px;
  border: var(--blue_2) 1px solid;
  background: var(--white);
  border-radius: 8px;
  color: var(--blue_8);

  &:focus {
    border: var(--blue_6) 1px solid;
    box-shadow: 0 0 3px 0.25px var(--blue_6);
    outline: none;
  }
}

.inputError {
  border-color: var(--error);
}

input::placeholder {
  color: var(--blue_5);
}

.wrapper {
  position: relative;
}

.disabled {
  filter: opacity(0.4);
  pointer-events: none;
}

.iconLoupe {
  position: absolute;
  top: 13px;
  left: 13px;
}

.inputLabel {
  display: block;
  margin: 0.25rem 0 0.375rem;
  margin-bottom: 0.375rem;
  color: var(--blue_8);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0625rem;
}
