input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 20px;
  border: var(--blue_2) 1px solid;
  background: var(--white);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;

  &:focus {
    border: var(--blue_2) 1px solid;
    outline: none;
  }
}

.inputError {
  border-color: var(--error);
}

input::placeholder {
  color: var(--gray_3);
}

.wrapper {
  position: relative;
}

.disabled {
  filter: opacity(0.4);
  pointer-events: none;
}
