.page {
  display: grid;
  grid-template-columns: 70px auto;
}
.pageContent {
  display: grid;
  padding: 30px 30px 0 30px;
  grid-column-gap: 2%;
  grid-template-columns: 38% 60%;
  grid-template-rows: 120px 1fr;
}

.input,
.textArea {
  padding: 10px 15px;
}

.textArea {
  overflow: hidden;
  width: calc(100% - 3px * 2);
  margin: 2px 3px;
}

.scroll {
  padding-right: 10px;
}

.rightContent {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 20px;
  }
}

.renderedHTMLWrapper {
  flex: 1 1 100%;
  padding: 10px 15px;
  background-color: var(--white);
  border-radius: 10px;
}

.iframe {
  overflow: hidden;
  width: 100%;
  border: none;
  border-radius: inherit;
}


.popupContentainer {
  width: 40%;
}

.popupContent {
  width: unset;
}

.popupFooter {
  justify-content: flex-end;
}