.Button {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  background-color: var(--blue_100);
}
.Button:active path {
  fill: var(--blue_500);
}

.Button_active {
  position: relative;
  color: var(--black);

  &::after {
    position: absolute;
    right: 0;
    width: 3px;
    height: 36px;
    background-color: var(--blue_400);
    border-radius: 3px;
    content: '';
  }

  path {
    fill: var(--blue_400);
  }
}

.icon {
  width: 30px;
  height: 30px;
}
