.pageContent {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  padding: 30px 30px 0px 30px;
}

.menuIsOpen {
  display: grid;
  padding: 30px 30px 0px 30px;
  grid-template-columns: 290px auto;
  grid-template-rows: 68px auto;
}

.title {
  color: var(--blue_8);
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

.menu {
  max-width: 320px;
  margin-right: 30px;
}
