.button {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 13px 32px;
  border: none;
  background: var(--blue_400);
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--blue_500);
    transition: background-color 0.3s ease;
  }

  &:disabled {
    background-color: var(--gray_200);
    pointer-events: none;
  }
}
