.theme_transparent {
  border: none;
  background: none;
  box-shadow: none;
  color: var(--blue_6);
  outline: none;
  text-decoration: underline;

  &:hover {
    background: none;
    color: var(--blue_7);
    transition: color 0.2s ease;
  }

  &:disabled {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
  }
}
.theme_secondary {
  padding: 11px 32px;
  border: 2px solid var(--blue_5);
  background: var(--white);
  color: var(--blue_5);

  &:hover {
    background-color: var(--blue_5);
    color: var(--white);
  }

  &:disabled {
    background-color: var(--gray_2);
    pointer-events: none;
  }
}
