.button {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;
  background: var(--blue_6);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;

  & > *:not(:last-child) {
    margin-right: 12px;
  }

  &:hover {
    background-color: var(--blue_13);
  }

  &:active {
    background-color: var(--blue_14);
  }

  &:disabled {
    background-color: var(--gray_2);
    pointer-events: none;
  }
}
