.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  .title {
    color: var(--blue_8);
  }
  .subTitle {
    color: var(--blue_8);
  }
  .controlsBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .controlsBlock > *:not(:last-child) {
    margin-right: 30px;
  }
}
