.head {
  display: flex;
  min-height: 110px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  .title {
    margin-bottom: 30px;
  }
  .controlsBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .controlsBlock > *:not(:last-child) {
    margin-right: 30px;
  }
}
