.page {
  display: grid;
  grid-template-columns: 70px auto;
}
.pageContent {
  padding: 60px;
}

.head {
  .title {
    margin-bottom: 30px;
    color: var(--blue_600);
    font-weight: 600;
  }
  .subTitle {
    color: var(--blue_600);
  }
}
