.iconDots {
  display: flex;
  width: 10px;
  height: 100%;
  align-items: center;
  justify-content: center;

  circle {
    fill: var(--blue_4);
    transition: 0.1s;
  }

  &:hover {
    circle {
      fill: var(--blue_15);
    }
  }
}

.dropDownContainer {
  padding: 5px;
}

.alert {
  color: var(--error_2);

  svg {
    path {
      fill: var(--error_2);
    }
  }
}


.triggerContainerActive {
  .iconDots {
    circle {
      fill: var(--blue_15);
    }
  }
}
