.popupTitleContainer {
  padding: 30px;
}
.popupTitle {
  color: var(--blue_8);
}
.popupTable {
  width: 1300px;
  height: 500px;
}
.popupControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  & > *:not(:last-child) {
    margin-right: 30px;
  }
}
