:root {
  --white: #ffffff;
  --black: #000000;

  --backgroud: #f0f5fc;

  --primary_blue: #826aff;
  --primary_blue_2: #6347ed;
  --primary_blue_dark: #37336e;
  --primary_blue_gray: #a2b3ce;
  --primary_blue_light: #dae6f5;
  --primary_gray: #9d9d9d;
  --primary_gray_light: #bbc0c6;

  --accidental_cyan: #24d1f4;
  --accidental_green: #2ec4b6;
  --accidental_pink: #ea66c1;
  --accidental_orange: #ff804f;

  --error: #f3434b;
}
