:root {
  --white: #ffffff;
  --black: #000000;

  --blue_1: #ebedff;
  --blue_2: #dae6f5;
  --blue_3: #e0e9f7;
  --blue_4: #a2b3ce;
  --blue_5: #94a6c4;
  --blue_6: #826aff;
  --blue_7: #6347ed;
  --blue_8: #37336e;

  --gray_1: #f0f5fc;
  --gray_2: #bbc0c6;
  --gray_3: #9d9d9d;

  --accidental_cyan: #24d1f4;
  --accidental_green: #2ec4b6;
  --accidental_pink: #ea66c1;
  --accidental_orange: #ff804f;

  --error: #f3434b;
}
