:root {
  --white: #ffffff;
  --black: #000000;

  --blue_1: #ebedff;
  --blue_2: #dae6f5;
  --blue_3: #e0e9f7;
  --blue_9: #dee9f8;
  --blue_4: #a2b3ce;
  --blue_5: #94a6c4;
  --blue_10: #72829c;
  --blue_11: #9eb4d1;
  --blue_15: #b3c1f4;
  --blue_12: #7794c4;
  --blue_15: #7570bd;
  --blue_16: #99aaeb;
  --blue_6: #826aff;
  --blue_13: #6f54fd;
  --blue_14: #654afa;
  --blue_7: #6347ed;
  --blue_8: #37336e;
  --blue_17:#99aaeb25;
  --blue_18: #b3c1f4b3;
  --blue_19: rgba(39, 34, 113, 0.75);


  --gray_1: #f0f5fc;
  --gray_2: #bbc0c6;
  --gray_3: #9d9d9d;
  --gray_4: #A3A0D3;

  --shadow_1: #61768f29;
  --shadow_2: #65768d1a;
  --shadow_3: rgba(130, 106, 255, 0.2);

  --cyan: #24d1f4;
  --green: #2ec4b6;
  --pink: #ea66c1;
  --orange: #ff804f;

  --error: #f3434b;
  --error_2: #ff3b45;
  --error_3: #db323a;
}

/**плохие имена*/
