.text_1 {
  color: var(--blue_8);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.text_1_hl_1 {
  color: var(--blue_8);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.text_1_hl_2 {
  color: var(--blue_6);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.button_1 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.header_1 {
  color: var(--blue_8);
  font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
}
