.button_text_1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.text_05 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.text_1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.text_1_hl_1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.text_2_hl_1 {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}
.text_1_hl_2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}



.header_1 {
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
}

.header_2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
