.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  background: var(--white);
  border-radius: 10px;
}

.table {
  min-width: 100%;
}

.head {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: var(--blue_3);
}

.tableRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headCell {
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}

.headCell:hover {
  background-color: var(--blue_4);
}

.iconArrow {
  position: absolute;
  top: 0;
  height: 50px;
  margin-left: 10px;
}
.ascending {
  transform: scaleY(-1);
}
/*
.descending::after {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('/assets/icons/arrow_down.svg');
  background-repeat: no-repeat;
  content: '';
}
*/

.tbody {
}

.scroll :global {
  .simplebar-track.simplebar-vertical {
    top: 50px;
    height: calc(100% - 50px);
  }
}

/**
  1. Столбцы могут переполнить таблицу значит:
    1.1 у столбцов есть минимальная ширина
    1.2 таблица может быть шире контейнера чтобы был скролл по х
    
*/
